main {
    margin-top: 110px;
    margin-bottom: 50px;
}

.message-success {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgb(255, 73, 73);
    background-color: white;
    font-size: 2.4rem;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
}

.main-title {
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
}

.form-content {
    margin: auto;
    width: 90%;
    max-width: 400px;
}

.form-content__label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 20px;
}

.image-group {
    display: flex;
    align-items: center;
    height: 80px;
    border: 1px dashed grey;
    border-radius: 3px;
}

.image-group__label {
    display: inline-block;
    margin: 0 auto;
    color: rgb(255, 73, 73);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(255, 73, 73);
    border-radius: 3px;
    padding: 3px 20px;
    cursor: pointer;
    font-size: 1.4rem;
}

.image-group__input {
    display: none;
}

.image-link {
    margin: 0 auto;
}

.image-link:hover {
    opacity: 0.6;
}

.preview-image {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid lightgrey;
}

.form-content__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 2rem;
    color: grey;
    border-bottom: 2px solid grey;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.category-button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size:1.4rem;
    border-radius: 3px;
}

.category-button:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

.category-button:active {
    background-color: #ccc;
    border-color: #555;
}

.category-button.selected {
    background-color: #ccc;
    border-color: #555;
}

.form-content__input,
.form-content__select {
    width: 100%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px 10px;
    margin-bottom: 5px;
}

.form-content__input::before {
    content: "￥";
}

.form-content__error {
    color: red;
    font-size: 1.4rem;
}

.form-content__textarea {
    resize: none;
    margin-top: 2px;
    padding: 5px 10px;
}

.input-content {
    position: relative;
}

.input-content::before {
    position: absolute;
    content: "￥";
    font-size: 1.4rem;
    left: 6px;
    top: 5px;
}

.input-price {
    padding-left: 20px;
}

.form-content__button {
    display: block;
    background-color: rgb(255, 73, 73);
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    height: 30px;
    margin-top: 40px;
}

.form-content__button:hover,
.form-content__link:hover {
    opacity: 0.6;
}